// Navbar Styling
.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background-color: #f8f9fa; // Consider adjusting this color to match your branding

  .navbar-brand {
    font-weight: bold;
  }

  .nav-link {
    &.dropdown-toggle {
      &:hover, &:focus {
        background-color: rgba(0,0,0,.05);
      }
    }
  }

  .dropdown-menu {
    li {
      transition: background-color .2s ease-in-out;
      &:hover {
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }
}

// Modal Styling
.modal {
  &.fade .modal-dialog {
    transition: transform .3s ease-out, opacity .3s ease-out;
    transform: translateY(-50px);
    opacity: 0;
  }

  &.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
  }

  .modal-content {
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  }

  .modal-header, .modal-footer {
    button {
      border-radius: 20px;

      &.btn-close {
        span {
          background: none;
        }

        &:hover {
          background: transparent;
          opacity: .8;
        }
      }
    }

    .modal-title {
      font-weight: bold;
    }
  }

  .modal-body {
    padding: 20px;
  }
}

#updateUserModal, #deleteConfirmationModal {
  .modal-header {
    background-color: #f8f9fa;
  }

  .btn-primary, .btn-danger, .btn-secondary {
    &:hover {
      filter: brightness(85%);
    }
  }
}

// Background Dimming when Modal is Active
.modal-backdrop.show {
  background-color: rgba(0,0,0,.5);
}
